img{
  max-width: 300px;
  max-height: 300px;
}
body{
  text-align: center;
}
ul{
  list-style-type: none;
}
.cars{
  margin:10px;
  border:5px;
  border-style:solid;
  border-color: red;
  border-radius: 50%;
  margin-left:300px;
  margin-right:300px;
}
